body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  margin: 0 auto;
}


*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 420px;


}
.location:hover  {
  background-color:#50C878;
}

.location:hover .time{
  color:white;
}


.local:hover{
  background-color: #ff4c4c;
}

.local:hover .time{
  color:#330000;
}

nav {
  position: fixed;
  background-color: #F5F5F5;
  width:420px;
  box-sizing: border-box;
  display: inline-block;
  height:77px;
  background-repeat: no-repeat;
}

.bus {
  box-sizing: border-box;
  display: inline;
  width:85%;
  padding-bottom: 7%;
}
.bus-list {
  padding-top:40px;
  width:100%;
  background-color:white;
  float:left;
}

.time{
  float: right;
  box-sizing: border-box;
  display: inline-block;
  color:	#0070BB;
  padding-right: 2%;
}
.time p{
  font-size: 19px;
  font-weight: bold;
  box-sizing: border-box;
  display: inline;
  line-height: 1.2em;
}

.location, .location-title, .local{
  background-color:white;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 2%;
  border-bottom: thin solid gray;



}

.location-title{
  border-radius: 15px 15px 0px 0px;

}
h3{
  font-size: 1.1em;
  font-weight:450;
  box-sizing: border-box;
  display: block;
  line-height: normal;
  padding-left: 2%;
  padding-right:0%;
  border-bottom: 5px;

}

h1{
  font-size: 1.8em;
  font-weight: 750;
  box-sizing: border-box;
  display: inline-block;
  line-height:normal;
  padding-left: 2%;
  padding-right: 2.5%;


}

.content{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 11px;
  font-weight: 300;
  font-size: 12px;
  box-sizing: border-box;
  display: inline-block;


}

.arrow-left{
  color:	#0070BB;
  font-weight: lighter;
  box-sizing: border-box;
  display: inline;
  font-size: 16px;
  padding-left:5%;
  padding-bottom: 3%;


}


.texting{
    font-size: 16px;
    font-weight: 400;
    color:	#0070BB;
    box-sizing: border-box;
    display: inline;
  }


.bus p{
  box-sizing: border-box;
  display: inline;
  font-size: 19px;
  font-weight: bold;
text-align: center;
padding: 15%;
}


.map-image{
margin: 10px 0 -15px;
  padding-top: 6%;
}

.top-image{
  max-width: 100%;
}

.street-names{
  font-size: 22px;
  box-sizing: border-box;
  display: inline-block;
  padding-left:10%;
  font-weight:525;
  border-left: 2px solid gray;
border-width: thin;




}
.time .now {
  font-weight: bolder;
  box-sizing: border-box;
  display: inline;
  padding-right: 2%;
}


.title{
  font-weight: bold;
  font-size: 17px;
  padding-top: 1%;
  padding-left: 2%;
}

.r-image{
  float: left;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 29%;
  padding-top: 9%;
  left:24px;
  position: fixed;
  margin-bottom: 2%;
}
